In [1]:
import pandas as pd

data1={
    "Emp_id":["E01","E02","E03","E04","E05","E06"],
    "Name":["Ram","Shyam","John","Rahul","Pan","John"],
    "Age":[35,37,46,23,26,36]}

data2={
    "Emp_id":["E01","E02","E03","E04","E06","E09"],
    "Salary":[45000,57000,46000,23000,23000,22000]
    }

In [2]:
df1=pd.DataFrame(data1)
print(df1)

  Emp_id   Name  Age
0    E01    Ram   35
1    E02  Shyam   37
2    E03   John   46
3    E04  Rahul   23
4    E05    Pan   26
5    E06   John   36

In [3]:
df2=pd.DataFrame(data2)
print(df2)

  Emp_id  Salary
0    E01   45000
1    E02   57000
2    E03   46000
3    E04   23000
4    E06   23000
5    E09   22000

In [4]:
print(pd.merge(df1,df2,on='Emp_id'))

  Emp_id   Name  Age  Salary
0    E01    Ram   35   45000
1    E02  Shyam   37   57000
2    E03   John   46   46000
3    E04  Rahul   23   23000
4    E06   John   36   23000

In [5]:
print(pd.merge(df1,df2,on='Emp_id',how='left'))

  Emp_id   Name  Age   Salary
0    E01    Ram   35  45000.0
1    E02  Shyam   37  57000.0
2    E03   John   46  46000.0
3    E04  Rahul   23  23000.0
4    E05    Pan   26      NaN
5    E06   John   36  23000.0

In [6]:
print(pd.merge(df1,df2,on='Emp_id',how='right'))

  Emp_id   Name   Age  Salary
0    E01    Ram  35.0   45000
1    E02  Shyam  37.0   57000
2    E03   John  46.0   46000
3    E04  Rahul  23.0   23000
4    E06   John  36.0   23000
5    E09    NaN   NaN   22000

In [7]:
print(pd.concat([df1,df2]))

  Emp_id   Name   Age   Salary
0    E01    Ram  35.0      NaN
1    E02  Shyam  37.0      NaN
2    E03   John  46.0      NaN
3    E04  Rahul  23.0      NaN
4    E05    Pan  26.0      NaN
5    E06   John  36.0      NaN
0    E01    NaN   NaN  45000.0
1    E02    NaN   NaN  57000.0
2    E03    NaN   NaN  46000.0
3    E04    NaN   NaN  23000.0
4    E06    NaN   NaN  23000.0
5    E09    NaN   NaN  22000.0

In [8]:
dict1={"Fruits":["mango","apple","Banana","Orange"],
    "Price":[100,203,34,56],
    "Quantity":[16,12,13,14]
}
df3=pd.DataFrame(dict1)
print(df3)

   Fruits  Price  Quantity
0   mango    100        16
1   apple    203        12
2  Banana     34        13
3  Orange     56        14

In [9]:
df4=df3.copy()
print(df4)

   Fruits  Price  Quantity
0   mango    100        16
1   apple    203        12
2  Banana     34        13
3  Orange     56        14

In [10]:
df4.loc[0,"Price"]=120
df4.loc[1,"Price"]=240
df4.loc[2,"Price"]=340
print(df4)

   Fruits  Price  Quantity
0   mango    120        16
1   apple    240        12
2  Banana    340        13
3  Orange     56        14

In [11]:
print(df3.compare(df4))

   Price
    self  other
0  100.0  120.0
1  203.0  240.0
2   34.0  340.0

In [12]:
print(pd.melt(df3,id_vars=["Fruits"],value_vars=["Price"]))

   Fruits variable  value
0   mango    Price    100
1   apple    Price    203
2  Banana    Price     34
3  Orange    Price     56

In [13]:
print(pd.melt(df3,id_vars=["Fruits"],value_vars=["Price","Quantity"],var_name="Price&Quantity",value_name="values"))

   Fruits Price&Quantity  values
0   mango          Price     100
1   apple          Price     203
2  Banana          Price      34
3  Orange          Price      56
4   mango       Quantity      16
5   apple       Quantity      12
6  Banana       Quantity      13
7  Orange       Quantity      14